@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display');


body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}


.remark-slide-content h1 {
    font-size: 40px;
}

.remark-slide-content h2 {
    font-size: 35px;
}

.remark-slide-content h3 {
    font-size: 30px;
}

.small_text {
  font-size: 0.95rem;
}

.shadowed {
  box-shadow: 3px 3px 5px grey;
}

.bullet_emoji {
  font-size: 2.5rem;
}

.iconed {
  font-size: 7rem;
}

.left-code {
  color: #777;
  width: 38%;
  height: 92%;
  float: left;
}

.right-plot {
  width: 60%;
  float: right;
  padding-left: 1%;
}


.side-bullet {
    display: grid;
    align-items: start;
    --gap-size: 2rem;
    grid-template-columns: 2.5fr 2fr;
    grid-column-gap: var(--gap-size);
}

.side-bullet.middle {
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.side-bullet.topics {
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.side-bullet.hanging-topics {
  grid-template-columns: 1fr 2fr;
  align-items: start;
}



.side-bullet>p,
.side-bullet>h3,
.side-bullet>ul,
{
  display: block;
  position: relative;
}


.side-bullet>p:first-child,
.side-bullet>h3:first-child {
    text-align: right;
    position: relative;
}

.side-bullet>p:last-child,
.side-bullet>ul:last-child{
    font-size: 0.9em;
    opacity: 0.8;
}

.side-bullet > p:first-child::after {
  position: absolute;
  content: "";
  --point-size: 5px;
  height: var(--point-size);
  width: var(--point-size);
  right: calc(-1 * var(--gap-size)/2 - var(--point-size)/2 - 2px);
  top: 10px;
  background-color: black;
  border-radius: 50%;
}

.nopad * {
  padding-top: 0;
  padding-bottom:0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.center-big {
  font-size: 3rem;
  text-align: center;
  display: block;
  padding: 0;
  margin: 0;
}


