@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display');


body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}


.remark-slide-content h1 {
    font-size: 40px;
}

.remark-slide-content h2 {
    font-size: 35px;
}

.remark-slide-content h3 {
    font-size: 30px;
}

.small_text {
  font-size: 0.95rem;
}

.shadowed {
  box-shadow: 3px 3px 5px grey;
}

.bullet_emoji {
  font-size: 2.5rem;
}

.iconed {
  font-size: 7rem;
}

.left-code {
  color: #777;
  width: 38%;
  height: 92%;
  float: left;
}
.right-plot {
  width: 60%;
  float: right;
  padding-left: 1%;
}


.sidenote-bullet {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: start;
    --gap-size: 2rem;
    grid-column-gap: var(--gap-size);
}

.sidenote-bullet>p {
  display: block;
  position: relative;
}

.sidenote-bullet>p:first-child {
    text-align: right;
}

.sidenote-bullet>p:last-child {
    font-size: 0.9em;
    opacity: 0.8;
}

.sidenote-bullet > p:first-child::after {
    content: "-";
    text-align: center;
    font-size: 1.5em;
    color: grey;
    width: var(--gap-size);
    height: 1em;
    position: absolute;
    right: -var(--gap-size);
    top: 0;
}



